@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic");

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
    -webkit-text-size-adjust: none;
}

ol, ul {
	list-style: none;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #252122;
    background-image: url("images/bg02.png");
}

    body.is-preload *, body.is-preload *:before, body.is-preload *:after {
        -moz-animation: none !important;
        -webkit-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
        -moz-transition: none !important;
        -webkit-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
    }

body, input, textarea, select {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    color: #5d5d5d;
    font-size: 14pt;
    line-height: 1.75em;
}

h1, h2 {
    color: #252122;
    font-weight: 700;
}

h1 a, h2 a {
    color: inherit;
    text-decoration: none;
}

h2 {
    color: #444cac;
}

a {
    color: #444cac;
    text-decoration: underline;
}

    a:hover {
        text-decoration: none;
    }

p {
    font-weight: 500;
    margin-bottom: 2em;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;
    width: 70em;
}

/* .container a {
    padding-left: 10px;
} */

    @media screen and (max-width: 1680px) {

        .container {
            width: 70em;
        }

    }

    @media screen and (max-width: 1280px) {

        .container {
            width: calc(100% - 60px);
        }

    }

    @media screen and (max-width: 980px) {

        .container {
            width: calc(100% - 80px);
        }

    }

    @media screen and (max-width: 768px) {

        .container {
            width: calc(100% - 50px);
        }

        .container a {
            padding-left: 0px;
        }

    }

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
}

    .row > * {
        box-sizing: border-box;
    }

    .row > .intro {
        width: 33.33333%;
    }

    .row {
        margin-top: -50px;
        margin-left: -50px;
    }

        .row > * {
            padding: 50px 0 0 50px;
        }

    @media screen and (max-width: 1680px) {

        .row {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            align-items: stretch;
        }

            .row > * {
                box-sizing: border-box;
            }

            .row > .intro {
                width: 33.33333%;
            }

            .row {
                margin-top: -50px;
                margin-left: -50px;
            }

                .row > * {
                    padding: 50px 0 0 50px;
                }
    }

    @media screen and (max-width: 1280px) {

        .row {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            align-items: stretch;
        }

            .row > * {
                box-sizing: border-box;
            }

            .row {
                margin-top: -30px;
                margin-left: -30px;
            }

                .row > * {
                    padding: 30px 0 0 30px;
                }
    }

    @media screen and (max-width: 980px) {

        .row {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            align-items: stretch;
        }

            .row > * {
                box-sizing: border-box;
            }

            .row > .intro {
                width: 33.33333%;
            }

            .row {
                margin-top: -40px;
                margin-left: -40px;
            }

                .row > * {
                    padding: 40px 0 0 40px;
                }
    }

    @media screen and (max-width: 768px) {

        .row {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            align-items: stretch;
        }

            .row > * {
                box-sizing: border-box;
            }

            .row > .intro {
                width: 33.33333%;
            }

            .row {
                margin-top: -20px;
                margin-left: -20px;
            }

                .row > * {
                    padding: 20px 0 0 20px;
                }
    }

/* section {
    margin-bottom: 1.5em;
} */

    section > :last-child, section:last-child, article > :last-child, article:last-child {
        margin-bottom: 0;
    }

header {
    margin: 0 0 1.5em 0;
}

    header > p {
        display: block;
        font-style: italic;
        margin: 0.5em 0 0 0;
        padding-bottom: 0.5em;
    }

footer {
    margin: 2.25em 0 0 0;
}

button,
.button {
    /* -webkit-appearance: none; */
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    background: #444cac;
    color: #fff !important;
    font-weight: 700;
    outline: 0;
    font-size: 1.1em;
    padding: 0.65em 1.5em 0.65em 1.5em;
    text-align: center;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
}

    button:hover,
    .button:hover {
        background: #7db0f2;
    }

    button:active,
    .button:active {
        background: #7db0f2;
    }

.image {
    display: inline-block;
    outline: 0;
}

    .image img {
        /* display: block; */
        justify-content: center;
        width: 50%;
        height: auto;
    }

#header {
    position: relative;
    background: #ffffff;
    border-bottom: solid 1px #ccc;
    padding: 5em 0 4em 0;
    /* text-align: center; */
}

    #header h1 {
        color: #252122;
        font-weight: 900;
        font-size: 2.5em;
        letter-spacing: -0.035em;
        line-height: 1;
    }

#banner {
    background: #CCE8F4 url("images/HfhONyYLBzoQo9DYRuCy--1--pxkc6.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    padding: 8em 0;
    margin: 4em 0 0 0;
    background-attachment: fixed;
    background-size: cover;
}

    #banner header {
        background-color: #444cac;
        display: inline-block;
        padding: 2.5em 5em;
        border-radius: 5px;
    }

        #banner header h2 {
            color: #fff;
            font-weight: 700;
            font-size: 2.5em;
            margin: 0 0 0.65em 0;
        }

        #banner header p {
            color: #252122;
            padding: 0;
            font-style: normal;
            margin: 0;
            font-size: 1.5em;
        }

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.graphic {
    width: 70%;
    margin: 1em 0;
    animation: bounce 2s infinite ease-in-out;
}

#second_graphic {
    padding: 3.5em 0 3.5em 0;
}

#intro {
    text-align: center;
    overflow: hidden;
}

    #intro section {
        /* display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; */
        height: 100%;
        margin: 0em 0;
        padding: 2.5em 0;
    }

    #intro h2 {
        font-size: 1.75em;
        margin: 10px;
    }

    #intro p {
        margin: 0;
    }

    #intro footer {
        margin: 0;
    }
    
.section_body {
    /* flex: 1; */
    /* height: 50%; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: end; */
    /* align-items: center; */
    
}

#footer {
    position: relative;
    color: #858484;
    padding: 2em 0;
}

    #footer:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        /* background: url("images/bg01.png"); */
        background-size: 100% 100%;
        z-index: 0;
        opacity: 0.5;
    }

    #footer a {
        color: #c5c4c4;
    }

    #footer h2, #footer h3 {
        color: #fff;
    }

        #footer h2 a, #footer h3 a {
            color: inherit;
        }

    /* #footer header {
        margin: 0 0 3em 0;
    } */

        #footer header h2 {
            font-size: 1.75em;
        }

.navbar {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    /* padding: 1rem 1.5rem; */
}

.nav-toggle {
    display: none;
    position: absolute;
    top: 2.5rem;
    right: 1rem;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    /* align-items: flex-start; */
    /* justify-content: end; */
    /* width: 100%; */
}

.nav-item {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
}

/* .navbar li {
    margin-left: 5rem;
} */

.navbar ul li a:hover {
    color: #7db0f2;
}

.navbar li a {
    text-decoration: none;
}

.navbar ul ul li a {
    padding: 10px 20px;
    text-decoration: none;
}

.navbar ul ul.list {
    position: absolute;
    top: 100%;
    display: none;
}

.navbar ul ul li {
    display: block;
}

.navbar li:hover ul {
    display: block;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1680px) {

    /* Basic */

        body {
            font-size: 12pt;
        }

        #second_graphic {
            padding: 3.5em 0 3.5em 0;
        }

}

/* Large */

@media screen and (max-width: 1280px) {

    /* Basic */

        body {
            font-size: 11pt;
        }

    /* Header */

        #header {
            padding: 4em 0 3em 0;
        }

    /* Banner */

        #banner {
            padding: 6em 0;
            margin: 3em 0 0 0;
        }

    /* Intro */

        #intro {
            padding: 0;
        }

            #intro section {
                padding: 1em 2em;
            }

        #second_graphic {
            padding: 3.5em 0 3.5em 0;
        }

    /* Footer */

        #footer {
            padding: 3em 0;
        }

            #footer:before {
                height: 2.5em;
            }

            /* #footer header {
                margin: 0 0 1.5em 0;
            } */

                #footer header h2 {
                    font-size: 1.25em;
                }
}

/* Medium */

@media screen and (max-width: 980px) {

    /* Basic */

        html, body {
            overflow-x: hidden;
        }

    /* Header */

        #header {
            padding: 3.5em 0 3em 0;
        }

    /* Nav */

        /* .navbar {
            display: none;
        } */

    /* Intro */

        #intro {
            padding: 3em 0 0 0;
        }

            #intro section {
                position: relative;
                margin: 0;
                padding: 40px 0 0 0;
            }

                #intro section.first {
                    border-top: 0;
                    padding-top: 0;
                }

                #intro section p {
                    margin: 0;
                }

            #intro footer {
                padding: 3em 0 0 0;
            }

        #first_graphic {
            padding: 1em 0 1em 0;
        }

        #second_graphic {
            padding: 3em 0 3em 0;
        }

    /* Nav */

        body {
            -moz-backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            backface-visibility: hidden;
            -moz-transition: -moz-transform 0.5s ease;
            -webkit-transition: -webkit-transform 0.5s ease;
            -ms-transition: -ms-transform 0.5s ease;
            transition: transform 0.5s ease;
            padding-bottom: 1px;
        }

}

/* Small */

@media screen and (max-width: 768px) {

    /* Basic */

        body {
            font-size: 11pt;
        }

        h2, h3 {
            font-size: 1.25em;
        }
    
    /* NavBar */

        .container {
            flex-direction: column;
            align-items: flex-start;
        }

        .nav-toggle {
            display: block;
        }

        .navbar-nav {
            flex-direction: column;
            height: 0;
            overflow: hidden;
        }

        .nav-item {
            text-align: left;
            justify-content: left;
            padding-left: 0px;
        }

        .open {
            height: 100vh;
        }

    /* Section */

        section {
            margin-bottom: 20px;
        }

        header {
            margin: 0 0 1em 0;
        }

        footer {
            margin: 2em 0 0 0;
        }

    /* Header */

        #header {
            text-align: center;
            padding: 2em 0;
        }

            #header h1 {
                color: #252122;
                font-weight: 900;
                font-size: 1.75em;
                letter-spacing: -0.035em;
            }

    /* Intro */

        #intro {
            padding: 2em 0 0 0;
        }

            #intro section {
                padding: 20px 0 40px 0;
                border-top: solid 1px #dfdfdf;
                /* margin: 20px 0 0 0; */
            }

            #intro h2 {
                font-size: 1.25em;
            }

            .row > .intro {
                flex: 1 1 100%;
            }

    /* Banner */

        #banner {
            padding: 6em 0;
            margin: 2em 0 0 0;
        }

            #banner header {
                padding: 1.5em 1em 1.5em 1em;
                display: block;
                border-radius: 0;
            }

                #banner header h2 {
                    font-size: 1.5em;
                    line-height: 1.5em;
                    margin: 0 0 0.25em 0;
                }

                #banner header p {
                    font-size: 1.2em;
                }

    /* Footer */

        #footer {
            padding: 40px 0 20px 0;
        }

}