* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.subscribe-box {
    position: relative;
    width: 470px;
    height: 430px;
    padding: 10px 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.subscribe-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 0 20px 0;
}

.subscribe-header p{
    color: #555;
}

.subscribe-header h2{
    color: #444cac;
    font-size: 24px;
}

.subscribe-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0 20px 0;
}

.subscribe-button {
    position: relative;
    margin: 0.5em;
    padding: 0.5em 1em;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    cursor: pointer;
    background-color: white;
    border: 1px solid #ddd;
}

.subscribe-button h3{
    color: #444cac;
}

.subscribe-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.subscribe-amount {
    font-size: 24px;
    font-weight: bold;
}

.subscribe-time {
    color: gray;
    text-align: left;
    padding-left: 5px;
}

.subscribe-button:hover {
    opacity: 0.85;
}

.subscribe-button:active,
.active {
    top: 4px;
    left: 2px;
    box-shadow: none;
}

.input-box {
    position: relative;
    width: 100%;
}

.input-box label {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #555;
    transition: .15s ease-in-out;
}

.input-box input {
    width: 100%;
    height: 50px;
}

.input-box .input-field {
    font-size: 1em;
    color: #333;
    padding-left: 15px;
    margin-bottom: 25px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
}

.input-box input[type='password'] {
    margin-bottom: 10px;
}

.input-box .input-field:focus {
    outline: 2px solid #444cac;
}

.input-field:focus ~ label, .input-field:valid ~ label {
    top: -8px;
    left: 12px;
    font-size: 12px;
    color: #555;
    background: #fff;
    padding: 0 5px;
}

.input-field:valid ~ label {
    color: #555;
}

.forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

section {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}

#check {
    margin-right: 10px;
}

section .forgot-link {
    font-weight: 500;
    text-decoration: none;
    color: #444cac;
}

.input-submit {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    color: #fff;
    background: #444cac;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.input-submit:hover {
    opacity: 0.9;
}

.sign-up {
    position: absolute;
    bottom: -30px;
    right: 0;
}

.sign-up p > a {
    text-decoration: none;
    color: #444cac;
}

.back {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    align-self: start;
    padding-bottom: 20px;
}

.back a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
    background: #444cac;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back:hover {
    opacity: 0.9;
}

img {
    width: 20%;
    margin: auto;
}

@media screen and (max-width: 768px) {

    .subscribe-box {
        width: calc(100% - 30px);
        height: 430px;
    }

    .subscribe-header h2{
        color: #444cac;
        font-size: larger;
    }

}